@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body{
    position: relative;
    font-family: Anta;
    background-color: lightgray;
}

.detailsContain, .manageContain{
    height: 90vh;
}

.nav-link{
    color: white;
    list-style: none;
}

.nav-link:hover{
    color: rgb(106, 177, 0);
    text-shadow: 2px 2px 1px red;
    cursor: pointer;
}

.site-name{
    position: relative;
    top: -5px;
    color: green;
    text-shadow: 2px 2px 1px rgb(255, 124, 124);
    font-size: 27px;
    font-weight: 600;
    z-index: 0;
}

.upper{
    position: relative;
    top: 10px;
    margin-left: -50px;
    color: white;
    z-index: 1;
}

.objCard{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px #333333;
}

.img.w-100{
    border-radius: 10px;
}

.search{
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 15px;

}

.add{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    font-size: 9pt;
}

#search-param{
    height: 30px;
    margin-top: 20px;
}

.popUp-delete{
    height: 200px;
    width: 50vw;
    position: fixed;
    top: calc((100vh - 200px) * 0.2);
    left: 25vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.error-message{
    position: fixed;
    top: calc((100% - 100px)/2);
    left: 18vw;
    height: 150px;
    width: 64vw;
    background-color: lightcoral;
    border-radius: 10px;
    border: 3px solid red;
}

.closeBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    border-radius: 5px;
}

.msg{
    font-size: 16pt;
    font-weight: bold;
    color: red;
}


.login-page{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
}

.login-set{
    height: 280px;
    width: 280px;
    border: 1px solid white;
    border-radius: 10px;
}

.login-err{
    position: absolute;
    top: 40px;
    left: calc((100vw - 280px)/2);
    height: 80px;
    width: 280px;
    padding: 15px;
    color: red;
    background-color: lightcoral;
    border: 3px solid red;
    border-radius: 10px;
}

.submitBtn{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
}

td{
    color: blue;
    text-align: center;
}

footer{
    height: 200px;
    margin-top: 200px;
    font-size: 9pt;
    color: rgb(190, 226, 255);
    background-color: black;
}